<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
  
    <h:body>
		<ui:composition template="#{conf.templatePath}/frontend.xhtml">
			<ui:param name="pageTitle" value="#{i18n['common.user.recoveryProfileInfo']}" />
			<ui:param name="handler" value="#{userRecoveryHandler}" />
			<ui:define name="content">
			
				<h:form id="generalForm" prependId="false">
					
			        <p:panel header="#{i18n['public.user.forgotName']}">
		            	<p:outputLabel value="#{i18n['common.email']}:" for="emailLogin" />
		            	<p:spacer width="10px" />
		                <p:inputText id="emailLogin" value="#{handler.user.email}" maxlength="80" size="50" />
	
						<div class="buttonCenter">
							<p:commandButton value="#{i18n['public.user.retrieveUserName']}" action="#{handler.loginRecovery}" update="messages" ajax="false">
								<f:param name="loginRecovParam" value="true"/>
							</p:commandButton>
							<p:commandButton value="#{i18n['public.user.resetPass']}" action="#{handler.requestPasswordReset}" update="messages">
								<f:param name="accessRecovParam" value="true" ajax="false"/>
							</p:commandButton>
						</div>
			   		</p:panel>
			   		
				</h:form>
				<ui:include src="/messages.xhtml" />
			</ui:define>
        </ui:composition>
    </h:body>
</html>