<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:body>
        <ui:composition template="#{conf.templatePath}/frontend.xhtml">
            <ui:param name="pageTitle" value="#{i18n['public.user.resetPass']}" />
            <ui:param name="handler" value="#{resetPasswordHandler}" />
            <ui:define name="content">
	           <h:form id="generalForm" prependId="false">
	            <p:panel header="#{i18n['public.user.resetPass']}" >
	                <p>#{i18n['public.user.resetPass.user']} "#{handler.user.userName}": #{i18n['public.user.resetPass.confirmText']}</p>
	                
	                <div class="buttonCenter">
	                	<p:commandButton value="#{i18n['public.user.resetPass']}" 
	                					action="#{handler.resetPassword}" 
	                					update="messages" 
	                					disabled="#{not handler.reset}"/>
	                </div>
	               </p:panel>
	           </h:form>
	           <ui:include src="/messages.xhtml" />

            </ui:define>
        </ui:composition>
    </h:body>
</html>