<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
	
    <h:body>
        <ui:composition template="/admin/layout/adminDesign.xhtml">
            <ui:param name="pageTitle" value="#{i18n['admin.importUpload.step1']}" />
            <ui:define name="content">
                <h:form id="generalForm" enctype="multipart/form-data" prependId="false">

                    <p class="boldText">#{i18n['admin.importUpload.msg']}:</p>
                    <p>#{i18n['admin.importUpload.msgDragDrop']}.</p>
                    <p>#{i18n['admin.fileUpload.description']}!</p>
                    <p:fileUpload description="#{i18n['admin.fileUpload.description']}"
                                  id="documentToUpload"
                                  allowTypes="/(\.|\/)(xml|zip)$/"
                                  fileUploadListener="#{importHandler.handleFileUpload}"
                                  multiple="true"
                                  update="messages,:uploadBtn" style="padding-bottom:10px"
                                  cancelLabel="#{i18n['admin.cancel']}"
                                  uploadLabel="#{i18n['admin.fileUpload.upload']}"
                                  label="#{i18n['admin.fileUpload.browse']}" />
                    <ui:include src="/messages.xhtml" />
                </h:form>
                <div>
                   <p:button id="uploadBtn"
                		  outcome="showProcessingOptions.xhtml"
                          value="#{i18n['admin.importUpload.goToStep2']} &hellip;"
                          disabled="#{importHandler.uploadedFiles.size() == 0}" />
                          &nbsp;                    
                   <p:button id="cancel"
                          outcome="index.xhtml"
                          value="#{i18n['admin.cancel']}"/>
                </div>   
           </ui:define>
        </ui:composition>
    </h:body>
</html>

