<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<f:metadata>
		<f:event type="javax.faces.event.PreRenderViewEvent" listener="#{importHandler.loadRootDataStocks}" />
	</f:metadata>

    <h:body>
        <ui:composition template="/admin/layout/adminDesign.xhtml">
        	<ui:param name="pageTitle" value="#{i18n['admin.importUpload.step2']}" />
            <ui:define name="content">
                <h:form id="tableForm" target="console">
                    <p:dataTable var="file" value="#{importHandler.uploadedFiles}">
                        <p:column headerText="#{i18n['admin.uploadedFiles']}">
                            <h:outputText value="#{file.fileName}" />
                        </p:column>
                        <!--p:column>
                            <f:facet name="header">
                                <h:outputText value="New / New version" />
                            </f:facet>
                            <p:selectBooleanCheckbox value="#{file.addAsNew}" />
                        </p:column>
                        <p:column>
                            <f:facet name="header">	
                                <h:outputText value="Overwrite existing" />
                            </f:facet>
                            <p:selectBooleanCheckbox value="#{file.overwrite}" />
                        </p:column-->
                    </p:dataTable>
                    
                    
                    <h:panelGrid style="margin-top:1em;">
						<p:outputLabel value="#{i18n['admin.import.rootDataStock']}" for="importRootDataStock" />
						<p:selectOneMenu value="#{importHandler.selectedStockName}" id="importRootDataStock">
							<f:selectItem itemLabel="#{i18n['common.select.hint']}" noSelectionValue="true" />
							<f:selectItems value="#{importHandler.availableRootStockNames}" var="rds" itemLabel="#{rds}" itemValue="#{rds}" />
							<p:ajax event="change" process="@this" update="importBtn" />
						</p:selectOneMenu>
                    </h:panelGrid>
                    
                    <div class="buttonLeft">
                    
                       <p:commandButton id="importBtn"
                       					 widgetVar="importBtn"
                                         action="#{importHandler.doImport}"
                                         value="#{i18n['admin.importFiles']}"
                                         ajax="false"
                                         onclick="PF('validateBtn').disable();jQuery(this).addClass('ui-state-disabled')"
                                         disabled="#{empty importHandler.selectedStockName}" />
                      
                        <p:commandButton  id="cancel"
                        			      value="#{i18n['admin.cancel']}" 
                        				  action="#{importHandler.clearFilesList}"
                        				  ajax="true"/>
                       </div>
                       			 		
    				   
                </h:form>
                <p></p>
                
                <ui:include src="/admin/validation.xhtml" />
			  
                 			
                <h2>#{i18n['admin.statusLog']}</h2>
                <iframe name="console" id="console" align="left" />
            </ui:define>
        </ui:composition>
        
    </h:body>
</html>

