<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" lang="en">
    <f:view contentType="text/html" locale="#{localeBean.locale}">
        <h:head>
            <title>#{pageTitle} - #{conf.applicationTitle}</title>
            <!-- <title>EUROPA-Site on LCA Tools, Services and Services - #{conf.applicationTitle}</title> -->
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta http-equiv="Content-Language" content="en" />            
            <meta name="Reference" content="REFERENCE" />
            <meta name="Title" content="EUROPA-Site on LCA Tools, Services and Data - #{pageTitle}" />
            <meta name="Creator" content="European Commission - DG Joint Research Centre - Institute for Environment and Sustainability " />
            <meta http-equiv="Content-Language" content="en" />
            <meta name="Type" content="Numeric code given in the list of document types" />
            <meta name="Classification" content="Numeric code from the alphabetical classification list common to all the institutions" />
            <meta name="Keywords" content="one or more of the commission specific keywords + european comission, european union, eu" />
            <meta name="Description" content="European Commission - Content should be a sentence or two that describes the content of the page" />

            <!--Central stylesheets for the template 2007 of EU -->
            <link type="text/css" rel="stylesheet" href="#{conf.contextPath}#{conf.templatePath}/css/commission.css" media="all" />
            <!--[if IE 6]><link type="text/css" rel="stylesheet" href="#{conf.contextPath}/#{conf.templatePath}/css/commission-ie6.css" media="all" /><![endif]-->
            <link type="text/css" rel="stylesheet" href="#{conf.contextPath}#{conf.templatePath}/css/commission-print.css" media="print" />

            <!-- Following 2 files used for menu component functionality workaround -->
            <script src="#{conf.contextPath}/#{conf.templatePath}/scripts/default.js" type="text/javascript"></script>
<!--             <link type="text/css" rel="stylesheet" href="#{conf.contextPath}/javax.faces.resource/wijmo/wijmo.css.xhtml?ln=primefaces&amp;v=2.2.1" media="all" /> -->

            <link type="text/css" rel="stylesheet" href="#{conf.contextPath}/#{conf.templatePath}/css/jrc/skin.css" media="all" />
<!--             <link type="text/css" rel="stylesheet" href="#{conf.contextPath}/#{conf.templatePath}/css/#{conf.themeName}/skin.css" media="all" /> -->
            <link type="text/css" rel="stylesheet" href="#{conf.contextPath}/#{conf.templatePath}/css/site.css" media="all" />
            <style type="text/css" media="print">
                @import url(#{conf.contextPath}#{conf.templatePath}/css/print.css);
            </style>

            <!--Central scripts-->
            <!--Language selection--><script src="#{conf.contextPath}#{conf.templatePath}/scripts/language.js" type="text/javascript"></script>
            <!--Text zoom Library--><script src="#{conf.contextPath}#{conf.templatePath}/scripts/fontsize.js" type="text/javascript"></script>
        </h:head>
        <h:body>
            <div class="outOfScreen" title="Accessibility tools">
                <ul>
                    <li><a href="#content" accesskey="S">Go to main content [shortcut key S], by skipping site tools, language selector, navigation path and navigation menu</a></li>
                    <li><a href="#container">Go to navigation menu, by skipping site tools, language selector and navigation path</a></li>
                    <li><a href="#path">Go to navigation path, by skipping site tools and language selector</a></li>
                    <li><a href="#langsSelector">Go to language selector, by skipping site tools</a></li>
                    <li><a href="#linkBoxTools">Go to site tools</a></li>
                </ul>
            </div>
            <div id="top" style="border:0px">
                <!-- Banner --><div id="bannerBackground">
                    <div class="bannerRight">
                        <div id="title-en" class="title"></div><div id="imageBanner"><!-- Use h1 here for homepage only --><h1>European Commission</h1></div>
                        <div id="linkBox">
                            <div id="linkBoxTools">
                                <ui:fragment>
                                    <ui:include src="#{conf.templatePath}/menu.xhtml" />
                                </ui:fragment>
                            </div>
                        </div>
                    </div>
                    <div id="langsFormContainer"></div>
                    <div id="linkBoxArrow"></div>

                    <div id="langsSelector">
                        <ul id="official">
                            <li><a href="#{conf.contextPath}/index.xhtml" lang="en" hreflang="en" title="English" class="curlang">en</a></li>
                        </ul>
                    </div>
                    <div id="linkBoxLanguage">
                    </div>
                </div>

                <div id="path">
                    <div>
                        <ul>
                            <li class="first-child">
                                <a id="firstTab" href="#{facesContext.externalContext.requestContextPath}/index_en.htm">European Commission</a>
                            </li>
                            <li>
                                <a id="firstTab" href="http://www.jrc.ec.europa.eu/">JRC</a>
                            </li>
                            <li>
                                <a id="firstTab" href="http://ies.jrc.ec.europa.eu/">IES</a>

                            </li>
                            <li>
                                <a id="firstTab" href="http://lca.jrc.ec.europa.eu/">LCT</a>
                            </li>
                            <li>
                                <a id="firstTab" href="http://lca.jrc.ec.europa.eu/EPLCA">European Platform on LCA</a>
                            </li>
                            <li>
                                <a id="firstTab" href="#{conf.contextPath}#{conf.templatePath}/index.xhtml">ELCD Database</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End banner -->
                <div>
                    <ui:insert name="adminMenu" />
                </div>
                <ui:insert name="contentBody" />
                <!--ETALOFF-->
                <div class="date" style="clear:both">
                    <p>&nbsp;</p>
                    <img src="#{conf.contextPath}#{conf.templatePath}/images/jaune.jpg" alt="" /><br />
                    Last update: June 25, 2009 | <a href="#top">Top</a>
                    <br /><br />European Commission - DG Joint Research Centre - Institute for Environment and Sustainability <br />
                    Webmaster: Konstantins Bogucarskis [konstantins.bogucarskis(at)jrc.it]
                </div><!--/ETALOFF-->

                <script type="text/javascript">initLanguage("en");</script>
            </div>
        </h:body>
    </f:view>
</html>

